.mat-card {
  margin: 1rem auto 0;
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-card-header .mat-card-title {
    margin-left: -16px;
  }
}

.icon-color-1 {
  color: #005eff;
}

.icon-color-2 {
  color: #003a80;
}

.icon-color-3 {
  color: #2414ff;
}

.icon-color-4 {
  color: #9d00ff;
}

.icon-color-5 {
  color: #ff00c8;
}

.icon-color-6 {
  color: #ff008c;
}

.icon-color-7 {
  color: #ff006f;
}

.icon-color-8 {
  color: #ff0025;
}

.icon-color-9 {
  color: #ff001f;
}

.icon-color-10 {
  color: #ff0000;
}

.bomb-icon {
  color: darkred;
}

@media(max-width: 800px) {
  .responsive-border {
    border: grey 1px solid;
  }

}
